<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="./favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="image">
                <span>Roboto</span>
                <img src="./images/test.jpg"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
